<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Projects</title>
  </head>

  <body>
    {{> header}}
    <h1> {{pageTitle}}</h1>
    <p> {{welcomeMsg}}</p>
    <ul>
      <li>Google Home</li>
      <li>Alexa</li>
      <li>Cortana</li>
      <li>Viv</li>
    </ul>
    {{> footer}}
  </body>

</html>
